{namespace flux=FluidTYPO3\Flux\ViewHelpers}
{namespace v=FluidTYPO3\Vhs\ViewHelpers}
<f:layout name="Page/Standard" />

<f:section name="Configuration">
	<flux:form id="page">
		<flux:grid>
			<flux:grid.row>
				<flux:grid.column colPos="1" name="top" label="Top" />
			</flux:grid.row>
			<flux:grid.row>
				<flux:grid.column colPos="0" name="main" label="Main" />
			</flux:grid.row>
			<flux:grid.row>
				<flux:grid.column colPos="2" name="footer" label="Footer" />
			</flux:grid.row>
		</flux:grid>
	</flux:form>
</f:section>

<f:section name="Main">
	<div class="container body">
		<v:variable.set name="contentWidths" value="{0: 12, 1: 12, 2: 12}" />
		<div class="row">
			<div class="col-md-3 col-xs-4 col-sm-4">
				<h4>{v:page.info(pageUid: settings.documentationRootPageUid, field: 'title')}</h4>
				<v:page.menu entryLevel="2" levels="3" expandAll="TRUE" class="leftmenu" />
			</div>
			<v:variable.set name="contentWidths" value="{0: 9, 1: 8, 2: 8}" />
			<div class="container col-md-{contentWidths.0} col-xs-{contentWidths.1} col-sm-{contentWidths.2}">
				<v:content.render column="0" />
			</div>
		</div>
	</div>
</f:section>
