{namespace v=FluidTYPO3\Vhs\ViewHelpers}
<div id="teaser" class="front">
	<div class="container original">
		<div class="row">
			<div class="col-md-6">
				<canvas class="logo"></canvas>
			</div>
			<div class="container col-md-6 right">
				<v:content.render column="1" />
			</div>
		</div>
	</div>
	<div class="video">
		<video id="video" class="video-js" controls="disabled" preload="disabled" width="100%">
			<source data-temporary-src="{f:uri.resource(path: 'Video/Intro.mp4')}" type="video/mp4" />
		</video>
	</div>
</div>