{namespace v=FluidTYPO3\Vhs\ViewHelpers}
<div id="top-nav">
	<div class="container">
		<v:page.menu as="menu">
			<ul>
				<f:for each="{menu}" as="menuItem" iteration="iteration">
					<li class="{menuItem.class}">
						<f:link.page pageUid="{menuItem.uid}" class="{menuItem.class}" tabindex="{iteration.cycle -> v:math.sum(b: 10)}">
							<i class="{menuItem.tx_fluidtypo3org_icon}"></i>
							{f:if(condition: menuItem.nav_title, then: menuItem.nav_title, else: menuItem.title)}
						</f:link.page>
					</li>
				</f:for>
			</ul>
		</v:page.menu>
		{v:page.info(field: 'uid') -> v:variable.set(name: 'pageUid')}
		<ul class="pull-right">
			<f:if condition="{settings.donatePageUid}">
				<li class="{f:if(condition: '{pageUid} == {settings.donatePageUid}', then: 'active')}">
					<f:link.page pageUid="{settings.donatePageUid}"><span class="hidden-xs">Donate</span> <i class="glyphicon glyphicon-gift"></i></f:link.page>
				</li>
			</f:if>
			<f:if condition="{settings.blogPageUid}">
				<li class="{f:if(condition: '{pageUid} == {settings.blogPageUid}', then: 'active')}">
					<f:link.page pageUid="{settings.blogPageUid}"><span class="hidden-xs">Blog</span> <i class="glyphicon fa fa-comments"></i></f:link.page>
				</li>
			</f:if>
			<li>
				<form class="navbar-form navbar-left" role="search" method="get" action="{f:uri.page(pageUid: settings.searchPageUid)}">
					<div class="form-group">
						<input type="text" class="form-control input-sm" placeholder="Search" tabindex="1" name="q" id="searchfield">
						<button type="submit" class="btn btn-sm btn-default"><i class="fa fa-search"></i></button>
					</div>
				</form>
				<script type="text/javascript">
					function gq(qs) {
						qs = qs.split("+").join(" ");
						var params = {}, tokens, re = /[?&]?([^=]+)=([^&]*)/g;
						while (tokens = re.exec(qs)) {
							params[decodeURIComponent(tokens[1])] = decodeURIComponent(tokens[2]);
						};
						return params;
					};
					var pm = gq(window.location.href.substr(window.location.href.indexOf('?') + 1));
					if (typeof pm.q != 'undefined') {
						document.getElementById('searchfield').value = pm.q;
					};
				</script>
			</li>
		</ul>
	</div>
</div>
