{namespace feed=Tx_RssDisplay_ViewHelpers}
{namespace v=Tx_Vhs_ViewHelpers}
{v:var.set(name: 'atom')}
<f:for each="{items}" as="item" iteration="iteration">
	{item.data.child -> v:iterator.first() -> v:iterator.extract(key: 'author', recursive: 0) -> v:iterator.first() -> v:iterator.extract(key: 'child', recursive: 0) -> v:iterator.first() -> v:var.set(name: 'author')}
	{item.data.child -> v:iterator.first() -> v:iterator.extract(key: 'category', recursive: 0) -> v:var.set(name: 'categories')}
	<div class="clearfix">
		<h4>
			{feed:item.title()}
			<small class="pull-right">
			</small>
		</h4>
		{feed:item.content() -> v:format.replace(substring: '<pre><code>', replacement: '<pre class="prettyprint linenums:1"><code>')}
	</div>
	<div class="pull-right">
		<i class="icon fa fa-link"></i> <a href="{feed:item.link()}">{feed:item.link() ->
			v:format.substring(start: 8) -> f:format.crop(maxCharacters: 42)}</a>&nbsp;
	</div>
	<i class="icon fa fa-user"></i> <a href="{v:var.get(name: 'author.uri.0.data')}">{v:var.get(name: 'author.name.0.data')}</a>
	<i class="icon fa fa-calendar"></i> <f:format.date format="Y-m-d">@{item.data.date.parsed}</f:format.date>
	<hr />
</f:for>
